<div class="header" style="width: 1366px;">
	<span [style.color]="color" [style.text-transform]="color === 'white' ? 'lowercase': 'uppercase'" class="poppinsbold19diese1C1200 btn1" style="left:32px;z-index: 1;">MALISIMMO</span>
	<button [style.color]="color" class="poppinsextrabold14diese2F4E4E btn1" style="left:1046px;z-index: 1;">Buy</button>
	<button [style.color]="color" class="poppinsextrabold14diese2F4E4E btn1" style="left:1126px;z-index: 1;">About Us</button>
	<button class="poppinsbold12diese372300 position1 backgroundPrimary" style="z-index: 1;">SIGN IN</button>
</div>
