<div class="header" >
	{{innersize}}
	<span [style.color]="color" [style.text-transform]="color === 'white' ? 'lowercase': 'uppercase'" class="position1 poppinsbold19diese1C1200 btn1">Immovation</span>
	<div class="position2 w-nav-menu" style=" ">
		<button [style.color]="color" class="position3 poppinsextrabold14diese2F4E4E btn1">Buy</button>
		<button [style.color]="color" class="position4 poppinsextrabold14diese2F4E4E btn1">About Us</button>
		<button class="poppinsbold12diese372300 position5 backgroundPrimary">SIGN IN</button>
	</div>
	<div class="position6 w-nav-button">
		<div >
			<img src="../../assets/images/190-menu.svg" alt="un menu" height="32px" width="32px" />
			<svg width="32px" height="32px" viewBox="0 0 32 32"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink">
			<image xlink:href="../../assets/images/joshua.png" x="0" y="0" height="32" width="32"/>
			</svg>
		</div>
	</div>
</div>

