.header {
  position: absolute;
  top: 0px;
  height: 65px;
  display: flex;
  align-items: center;
}



.position1 {
  position: absolute;
  width: 84px;
  height: 36px;
  cursor: pointer;
  left: 1269px;
  background: #ECB605 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
}