.header {
  position: absolute;
  top: 0px;
  height: 65px;
  width: 100%;
  display: flex;
  align-items: center;
}

.position1 {
  position: absolute; 
  left:2.34%;
  z-index: 1;
}  

.position2 {
  position: absolute; 
  width: 294px;
  right: 1%;
} 

.position3 {
  height: 36px;
  left: 0px;
  z-index: 1;
}

.position4 {
  height: 36px;
  left: 80px;
  z-index: 1;
}  

.position5 {
  position: absolute;
  width: 84px;
  height: 36px;
  right: 0px; 
  cursor: pointer;
  background: #ECB605 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  z-index: 1;
}

.position6 {
  position: absolute; 
  right: 1%; 
  z-index: 1;
}  

/** navigation bar BEGIN **/

@media screen and (max-width: 990px) {
  .w-nav-button {
    display: block;
    cursor: pointer;
    float: right;
  }

  .w-nav-menu {
    display: none;
  }
}

@media screen and (min-width: 990px) {

.w-nav-menu {
  display: block;
  height: 36px;
}

.w-nav-button {
  display: none;
}
}



/** navigation bar END **/