.text-pop-13 {
  font: 13px/21px Poppins ;
  text-align:left;
  letter-spacing: 0.7px;
  color: #000000;
  opacity: 1;
}

.text-pop-11 {
  font: 11px/21px Poppins ;
  text-align:left;
  letter-spacing: 0.7px;
  color: #000000;
  opacity: 1;
}

.text-user-name {
  text-align: left;
  font: Bold 18px/27px Poppins;
  letter-spacing: 0.9px;
  color: #171717DE;
}

.card-border {
  border: 1px solid #BCBCBC;
  opacity: 1;
}

