<div class="card card-border"> <!--z-depth-1 -->
  <!--Card image-->


  <!--Card content-->
  <div class="card-body">
    <div class="row">
    <div class="col-3">
      <img src="../../../assets/images/user1.png">

    </div>
    <div class="col-4 text-pop-13">
      <p style="text-align: left"><span class="text-user-name"> M. Clara </span><br><span style="text-align: left"> 60 k par an</span><br>
        <span style="text-align: left"> Pas de Credits</span><br><span style="text-align: left"> Celibataire</span><br><span style="text-align: left"> Pas d'enfants</span>
      </p>
    </div>
      <div class="col-5 ">
        <p class="text-pop-13" style="text-align: left"> Vous voulez votre propre simulation? Nous avons besoin des informations
        </p>
        <button type="button" class="btn btn-labeled btn-success" style="background-color: #ECB605;border-color: #ECB605">
          <span class="btn-label text-pop-13">Essayez<i class="glyphicon glyphicon-ok"></i></span></button>
      </div>


    </div>


  </div>
</div>


