<nav class="navbar navbar-expand-xl navbar-dark grey lighten-2 mt-5 " >
  <div class="container ">
    <div class="row mb-2 mt-3 ml-4 mr-3">
      <form class=" form-row">
        <select class="col custom-select form-control mr-xl-3">
          <option selected>Achat</option>
          <option value="">Location</option>
        </select>
        <input class="col form-control mr-xl-3" type="text" placeholder="Search" aria-label="Search">
        <input class="col form-control mr-xl-3" type="text" placeholder="Search" aria-label="Search">
        <input class="col form-control mr-sm-3" type="text" placeholder="Search" aria-label="Search">
        <input class="col form-control mr-sm-3" type="text" placeholder="Search" aria-label="Search">
        <select class="col custom-select form-control mr-xl-3">
          <option selected>Autres</option>
          <option value="">Location</option>
        </select>
        <button class="col-xl-1  poppinsbold12diese372300 backgroundPrimary" type="submit">Search</button>
      </form>

    </div>

  </div>

</nav>

<div class="container my-5">
  <!-- Section -->
  <section>
    <!--First row-->
    <div class="row">

      <!--First column-->
      <div class="col-12">

        <!-- Nav tabs -->
        <ul class="nav md-pills pull-right flex-wrap mb-2" role="tablist">
          <li class="nav-item">
            <a class="col-3 fa fa-list fa-1x " aria-hidden="true"></a>
          </li>
          <li class="nav-item">
            <a class="col fa fa-map-marker fa-1x " style="position: relative" aria-hidden="true"></a>
          </li>
        </ul>

      </div>
      <!--First column-->

    </div>
    <!--First row-->

    <!--Tab panels-->
    <div class="tab-content mb-5">

      <!--Panel 1-->
      <div class="tab-pane fade show in active" id="panel31" role="tabpanel">

        <!-- Grid row -->
        <div class="row">

          <!-- Grid column -->
          <div *ngFor="let pr of annonces" class="col-md-12 col-lg-4">


            <app-produit-card [produit]="pr"></app-produit-card>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row -->

      </div>

    </div>
    <!--Tab panels-->

  </section>
  <!-- Section -->

</div>
