.bg-img {
  /* The image used */
  background-image: url("../../assets/images/img2.jpg");

  min-height: 80px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}
