.cadre-general{
  width: 641px;
  height: 398px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.bloc-img{
  width: 641px;
  height: 308px;
  background: transparent url('../../assets/images/maison1.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.text-goldy{
  width: 75px;
  height: 17px;
  text-align: left;
  font: ExtraBold 12px/18px Poppins;
  letter-spacing: 0.6px;
  color: #ECB608;
  opacity: 1;
}

.text-transparent{
  text-align: left;
  font: Regular 12px/18px Poppins;
  letter-spacing: 0.6px;
  color: #171717DE;
  opacity: 0.5;
}

.text-17{
  width: 23px;
  height: 17px;
}

.text-19{
  width: 177px;
  height: 19px;
}

.text-boldy{
  width: 230px;
  height: 20px;
  text-align: left;
  font: ExtraBold 14px/21px Poppins;
  letter-spacing: 0.7px;
  color: #171717DE;
  opacity: 1;
}
