<div class="card hoverable mb-4 card-shadow rounded view overlay zoom" data-toggle="modal" data-target="#basicExampleModal">

  <!-- Card image -->
  <img class="card-img-top"  src="../../assets/images/maison1.png" alt="Card image cap">

  <!-- Card content -->
  <div class="card-body rounded-top">



    <div>
      <div>
        <span class="poppinsregular12diese171717DE whitespacenowrap opacity05 ">{{produit.type}}</span>
        <span
          class="floatRight poppinsbold12dieseECB605 whitespacenowrap"
          style=" margin-top: 5px">{{produit.prix | currency:'EUR':'symbol':'1.0-0':'fr'}}</span>
      </div>
      <div class="poppinsextrabold14diese171717DE floatLeft whitespacenowrap">{{produit.nbrPiece}}
        Pièces / {{produit.nbrChambre}} Chambres / {{produit.surfaceHabitable}}m<sup>2</sup>
      </div>
      <br/>
      <div class="poppinsregular12diese171717DE whitespacenowrap opacity05 "> {{produit.adresse}}  / {{produit.ville}}  / {{produit.codePostal}}
      </div>
    </div>
  </div>

</div>


