.cadre-general{
  width: 641px;
  height: 398px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}
.bloc-img{
  width: 641px;
  height: 308px;
  background: transparent url('../../assets/images/maison1.png') 0% 0% no-repeat padding-box;
  opacity: 1;
}
