.md-pills .nav-link.active {
  color: #fff;
  background-color: #616161;
}
button.close {
  position: absolute;
  right: 0;
  z-index: 2;
  padding-right: 1rem;
  padding-top: .6rem;
}


.carousel-multi-item.v-2 .carousel-inner .carousel-item.active,
.carousel-multi-item.v-2 .carousel-item-next,
.carousel-multi-item.v-2 .carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
.carousel-multi-item.v-2 .carousel-item-right.active,
.carousel-multi-item.v-2 .carousel-item-next {
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%); }
.carousel-multi-item.v-2 .carousel-item-left.active,
.carousel-multi-item.v-2 .carousel-item-prev {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
.carousel-multi-item.v-2 .carousel-item-right,
.carousel-multi-item.v-2 .carousel-item-left {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0); }


.intro-2 {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (51).jpg")no-repeat center center;
  background-size: cover;
}
.view {
  margin-top: -56px;
}
.navbar {
  z-index: 1;
}
html,
body,
header,
.view {
  height: 100%;
}


/**************  Menu **************/

$navigationClass: '.navigation';
$responsiveNavigationClass: '.responsive-navigation';
$main-menu-font-family: 'Poppins, Montserrat,sans-serif';
$baseColor: blue;
$default-font-color: #181a1f;

.toggle-menu {
    font-style: normal;
    font-weight: 700;
    font-family: $main-menu-font-family;
    color: blue;
    cursor:pointer;
}

#{$navigationClass} {
    padding: 0px 0 26px;
}

#{$responsiveNavigationClass} {
    padding: 0px 0 26px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;

}

#{$responsiveNavigationClass} ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

#{$responsiveNavigationClass} .menu li {
    display: block;
    padding-top: 1em;
}


#{$navigationClass} .menu li +li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 1em;
  text-align: center;
}
#{$navigationClass} .menu li {
  display: table-cell;      /* moins « sale » que float: left */
  position: relative;       /* pour servir de référent */
}
#{$navigationClass} .menu li +li {
  padding-left: 1em;        /* espace pour placer le ::before */
}
#{$navigationClass} .menu a {
  display: block;
}
.menu a {
  position: relative;       /* pour servir de référent */
  font: Regular 14px/21px Poppins;
  letter-spacing: 0.7px;
  color: #1C1200;
  opacity: 1;
}

.menu a.expanded {
  font-weight: 700;
}

.menu a::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -.5em;            /* décalage vers le bas à ajuster */
  right: 50%;
  left: 50%;
  height: 2px;
  background: #ECB608;
  transition: all .5s;      /* pour un petit effet */
}

a.expanded::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -.5em;            /* décalage vers le bas à ajuster */
  right: 50%;
  left: 50%;
  height: 2px;
  background: #ECB608;
}

li a:hover {
  color: #171717DE;
}

.menu a.active {
    color: $baseColor;
}

.menu a.active::before,
.menu a:hover::before {
  right: .5em;              /* tient compte du padding-right */
  left: .5em;               /* tient compte du padding-left */
}

.menu a.expanded::before {
  right: .5em;
  left: .5em;
}

.responsive-navigation {
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: Poppins, Montserrat, sans-serif;
  letter-spacing: 1px;
  color: $baseColor; }

  .responsive-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.responsive-navigation .menu li {
  display: block; }

.responsive-navigation .menu li {
  padding-top: 1em; }


nav {
    text-align: center;
}

@media only screen and (max-width: 991px) {
  .navigation {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .responsive-navigation {
    display: none;
  }
}

.navigation ul { display: table; width: 100%; }
.navigation ul > li {display: table-cell; }

/******** fin Menu ******/

.text-pop-13 {
  font: 13px/21px Poppins ;
  text-align:left;
  letter-spacing: 0.7px;
  color: #000000;
  opacity: 1;
}
.text-pop-18-bold {
  text-align: left;
  font: Bold 18px/27px Poppins;
  letter-spacing: 0.9px;
  color: #171717DE;
}

.text-pop-14 {
  text-align: left;
  font: 14px/21px Poppins;
  letter-spacing: 0.9px;
  color: #171717DE;
}

.card-shadow {
  -webkit-box-shadow: -4px 9px 274px 61px rgba(235,235,235,1);
  -moz-box-shadow: -4px 9px 274px 61px rgba(235,235,235,1);
  box-shadow: -4px 9px 274px 61px rgba(235,235,235,1);
}

.card-shadow-white {
  -webkit-box-shadow: 0px 0px 10px 4px rgba(250,250,250,1);
  -moz-box-shadow: 0px 0px 10px 4px rgba(250,250,250,1);
  box-shadow: 0px 0px 10px 4px rgba(250,250,250,1);
}
