<div class="firstPage" style="width: 1366px;border: 1px solid black;">
  <div class="homePageImage1">
    <div class="horizontal-center pinyonscriptregular120dieseFFFFFF" style="position: absolute; top: 317px; width: 604px;height: 303px;text-align: center; line-height: 117px; letter-spacing: 1.14px;">
      Find Your Home
    </div>
  </div>
  <div class="homePageImage2">
    <div style="position: absolute;top: 460px; left: 59px;width: 553px;" [formGroup]="searchFormGroup">
      <div class="poppinsextrabold14diese372300" style="position: absolute; width: 82px; height: 27px;background-color: white;text-align: center;border: 1px solid white;border-radius : 4px 4px 0px 0px;">
        Search
      </div>
      <span style="width: 100%;position: absolute;top: 26px;">
        <input class="poppinsregular16diese372300" style="float:left;width: 274px;height: 48px;border: 1px solid white;border-right: 1px solid #372300;border-radius : 0px 0px 0px 4px;" type="text" placeholder="Dans quelle ville ? Quartier ?" formControlName="ville">
        <input class="poppinsregular16diese372300" style="float:left;width: 182px;height: 48px;border: 1px solid white;" type="text" placeholder="Votre budget max" formControlName="prixMax">
        <div style="float:left;width: 96px;height: 48px;line-height: 48px;text-align: center; " class="poppinsbold12diese372300 backgroundPrimary">SEARCH</div>
      </span>      
    </div>
    <div  style="position: absolute;top: 540px; left: 386px;width: 553px;" >
      <a href="javascript:" class="poppinsregular14dieseFFFFFF textdecorationunderline">Advanced search</a>
    </div>
  </div>
  <div class="lost textAlignCenter backgroundLost">
    <div class="pinyonscript64diese372300 horizontal-center position2">Lost</div>
    <div class="poppinsregular14diese372300 position3 textAlignCenter">Vivamus condimentum venenatis ligula quis auctor. Vestibulum augue risus, gravida sit amet varius a, sollicitudin in neque. Suspendisse vulputate tempor est nec facilisis. Mauris sed tempor nisl. Phasellus quis congue lorem. Donec quis aliquet eros. Aliquam posuere elit maximus, egestas erat et, mattis nisl.</div>
    <div class="poppinsbold12diese372300 backgroundPrimary horizontal-center position4 textAlignCenter lineHeight40">LEARN MORE</div>
    <div class="horizontal-center position5 textAlignCenter">
      <div class="displayInlineBlock floatLeft">
        <span class="arrow left positionRelativeArrow11"></span>
        <svg height="5" width="19">
          <line x1="0" y1="0" x2="19" y2="0" style="stroke:rgb(0,0,0);stroke-width:4" />
        </svg>         
      </div>
      <div class="displayInlineBlock">
        <svg width="16" height="8">
          <circle cx="4" cy="4" r="4" fill="#FFFFFF"/>
        </svg>        
        <svg  width="16" height="8">
          <circle cx="4" cy="4" r="4" fill="#ECB605"/>
        </svg> 
        <svg width="16" height="8">
          <circle cx="4" cy="4" r="4" fill="#FFFFFF"/>
        </svg>
        <svg width="16" height="8">
          <circle cx="4" cy="4" r="4" fill="#FFFFFF"/>
        </svg>                 
      </div>    
      <!-- <div style="display: inline-block;margin: auto;width: 8px;height: 8px;background: #ECB605 0% 0% no-repeat padding-box;"></div> -->
      <div class="displayInlineBlock floatRight">
        <svg height="5" width="19">
          <line x1="0" y1="0" x2="19" y2="0" style="stroke:rgb(0,0,0);stroke-width:4" />
        </svg> 
        <span class="arrow right positionRelativeArrow-11"></span>
      </div>
    </div>
  </div>
   <div class="homePageImage3">

  </div> 
  <div class="howItWorks ">
    <div class="pinyonscript64diese372300 positionabsolute horizontal-vertical-center whitespacenowrap">
    How it works ?
    </div>
  </div>
  <div class="homePageImage4">
    <div class="card1 backgrounddieseF1F1F1">
      <form class="position6" [formGroup]="investmentFormGroup">
        <div class="marginBottom34">
          <label>
            <input type="radio" value="LiveIn" formControlName="liveRentChoice">
              <span class="poppinsregular14diese372300 paddingLeft12">To live in</span>
          </label>
          <label class="paddingLeft50">
            <input type="radio" value="Invest" formControlName="liveRentChoice">
              <span class="poppinsregular14diese372300 paddingLeft12">To invest</span>
          </label>
        </div>
        <div style="margin-bottom: 30px; height: 40px;">
          <span style="width: 100%;" class="poppinsregular14diese00000061">
            <input style="float:left;width: 255px;height: 40px;" type="text" placeholder="Monthly net income" formControlName="monthlyNetIncome">
          </span>
          <span style="width: 100%;" class="poppinsregular14diese00000061">
            <input style="float:right;width: 255px;height: 40px;" type="text" placeholder="Other credits in progress" formControlName="creditInProgress">
          </span> 
        </div>
        <div style="margin-bottom: 44px; height: 40px;">
          <span style="width: 100%;" class="poppinsregular14diese00000061">
            <select class="browser-default custom-select custom-select-lg mb-3" style="float:left;width: 255px;height: 40px;font-size: 14px;"  placeholder="By myself" formControlName="byWho">
              <optgroup class="poppinsregular14diese00000061">
                    <option value="" disabled selected >By myself</option>
              <option *ngFor="let city of ['Paris','Lille']" [ngValue]="city"></option>
              </optgroup>
            </select>
          </span>
		    </div> 
        <div style="margin-bottom: 14px;" class="poppinsregular14diese00000061">
          Estimated monthly payments
        </div> 
        <div class="poppinsregular14diese00000061" style="margin-bottom: 13px; height: 40px;">
          <span style="width: 100%;" class="poppinsregular14diese00000061">
            <div style="float:left;width: 255px;" class="d-flex justify-content-left ">
              <span class="font-weight-bold black-text mr-2 mt-1">€ 200</span>
              <div class="range-field">
                <div style="margin-bottom: 0px;" class="range-wrap">
                  <input id="ext1" class="range border-0" type="range" min="200" max="2000" value="800"/>
                  <output class="bubble"></output>
                </div>
              </div>
              <span class="font-weight-bold black-text ml-2 mt-1">€ 2000</span>
            </div>
            <div style="float:right;width: 255px;" class="d-flex justify-content-left ">
              <span class="font-weight-bold black-text mr-2 mt-1">0</span>
              <div style="margin-bottom: 0px; flex-grow: 1;" class="range-field">
                <div class="range-wrap">
                  <input class="range border-0" type="range" min="0" max="25" value="20"/>
                  <output class="bubble"></output>
                </div>
              </div>
              <span class="font-weight-bold black-text ml-2 mt-1">25 years</span>
            </div>			
          </span>
        </div>
        <span style="position: absolute;width: 100%;">
          <button style="cursor: pointer;float: right; width: 165px; height: 40px;" class="poppinsbold12diese372300 backgroundPrimary">SEE HOW IT WORKS</button>		      
        </span>
      </form>
    </div>
  </div>
  <div class="homePageImage5">
    <div class="card1">
      <div class="position7">
						<div>
							<span class="poppinsregular12diese171717DE">{{annonce?.type}} &#8226; New</span>
						</div>
						<div>
							<span class="poppinsextrabold16diese171717DE" >{{annonce?.nbrPiece}} rooms &#47; {{annonce?.nbrChambre}} bedrooms &#47; {{annonce?.surfaceHabitable}} m<sup>2</sup></span>
							<span class="poppinsextrabold16diese171717DE" style="float:right">{{annonce?.prix | currency:'EUR':'symbol':'1.0-0':'fr'}}</span>
						</div>
						<div>
							<span class="poppinsregular12diese171717DE">{{annonce?.adresse}} &#47; {{annonce?.ville}} &#47; {{annonce?.codePostal}}</span>
							<span style="float:right" class="poppinsbold12dieseECB605">or {{1990 | currency:'EUR':'symbol':'1.0-0':'fr'}} &#47;month</span>
            </div>
            <div style="position: absolute;top: 80px;" class="poppinsregular12diese171717DE">
              <p>{{annonce?.description}}</p>
            </div>
            <ol style="position: absolute;top: 196px; width: 100%;padding-left: 16px;left: 12px">
              <li class="backgrounddieseF8F8F8"><span style="float:left;" class="poppinsblack14diese171717DE">Pinel (12 years)</span><span style="position: absolute; left: 416px;" class="poppinsbold14diese000000">{{1136 | currency:'EUR':'symbol':'1.0-0':'fr'}} &#47;month</span></li>
              <li class="backgrounddieseF8F8F8"><span style="float:left;" class="poppinsregular14diese171717DE" >Historical Monuments</span><span style="position: absolute; left: 416px;" class="poppinsregular14diese000000">{{1206 | currency:'EUR':'symbol':'1.0-0':'fr'}} &#47;month</span></li>
              <li class="backgrounddieseF8F8F8"><span style="float:left;" class="poppinsregular14diese171717DE">Pinel 9 years</span><span style="position: absolute; left: 416px;" class="poppinsregular14diese000000">{{1566 | currency:'EUR':'symbol':'1.0-0':'fr'}} &#47;month</span></li>
              <li class="backgrounddieseF8F8F8"><span style="float:left;" class="poppinsregular14diese171717DE">Dismemberment</span><span style="position: absolute; left: 416px;" class="poppinsregular14diese000000">{{1776 | currency:'EUR':'symbol':'1.0-0':'fr'}} &#47;month</span></li>
            </ol> 
						<div style="position: absolute;top: 375px; width: 100%;">
							<span style="float: right;" class="poppinsbold12dieseECB605">learn more about current property tax law</span>
						</div>                       
      </div>
    </div>
  </div>
  <div class="footer">
  </div>     
</div>
