@media screen and (min-width: 1006px) {

  .firstPage {
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "homePageImage1 homePageImage2"
                         "lost homePageImage3"
                         "howItWorks howItWorks"
                         "homePageImage4 homePageImage5"
                         "footer footer";
    justify-items: center;
    position: relative;
  }
}

@media screen and (max-width: 1006px) {

  .firstPage {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    grid-template-areas: "homePageImage1"
                         "homePageImage2"
                          "lost"
                          "homePageImage3"
                          "howItWorks"
                          "homePageImage4"
                          "homePageImage5"
                          "footer";
    justify-items: center;
    width: 100%;
  }
}

/***   .homePageImage1 BEGIN   ****/

.homePageImage1 {
  grid-area: homePageImage1;
  background-image: url('../../assets/images/homePageImage1.png');
  background-repeat: no-repeat;
  background-size:cover;
  width: 100%;
  height: 962px;
  position: relative;  
}

@media screen and (max-width: 480px) {

 #findyourhomelt480 {
   display: inline;
 }

 #findyourhomegt480 {
   display: none;
 }
}  

@media screen and (min-width: 480px) {

  #findyourhomelt480 {
    display: none;
  }

  #findyourhomegt480 {
    display: inline;
  }
} 

.position2 {
  position: absolute; 
  top: 317px; 
  width: 604px;
  height: 303px;
}

/***   .homePageImage1 END   ****/

/***   .homePageImage2 BEGIN   ****/

.homePageImage2 {
  grid-area: homePageImage2;
  background-image: url("../../assets/images/homePageImage2.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 962px; 
  position: relative;
}

@media screen and (max-width: 570px) {

  #homePageImage2lt570 {
    display: block;
  }

  #homePageImage2gt570 {
    display: none;
  }


  #homePageImage2Form.horizontal-center {
    margin: 0;
    left: 50%;
    -ms-transform: translate(-25%, -0%);
    transform: translate(-25%, -0%);
  }

  .position3 {
    position: absolute;
    top: 460px; 
    width: 553px;
    height: 174px;
  }

  .dimension1 {
    width: 274px;
    height: 48px;
  }

  .dimension2 {
    width: 274px;
    height: 48px;
  }

  .dimension3 {
    width: 96px;
    height: 48px;
  }  
}

@media screen and (min-width: 570px) and (max-width: 1006px) {

  #homePageImage2lt570 {
    display: none;
  }

  #homePageImage2gt570 {
    display: block;
  }

  .position3 {
    position: absolute;
    top: 460px; 
    width: 553px;
  }

  .position6 {
    position: absolute;
    top: 93px; 
    left: 386px;
    width: 553px;
  } 

  .dimension1 {
    width: 274px;
    height: 48px;
  }

  .dimension2 {
    width: 182px;
    height: 48px;
  }

  .dimension3 {
    width: 96px;
    height: 48px;
  }  

}

@media screen and (min-width: 1006px) and (max-width: 1124px) {

  #homePageImage2lt570 {
    display: none;
  }

  #homePageImage2gt570 {
    display: block;
  }

  .position3 {
    position: absolute;
    top: 460px; 
    /*left: 59px;*/
    width: 100%;
  }

  .dimension1 {
    width: 48.45%;
    height: 48px;
  }

  .dimension2 {
    width: 31.85%;
    height: 48px;
  }

  .dimension3 {
    width: 96px;
    height: 48px;
  }  

  .position6 {
    position: absolute;
    top: 93px; 
    left: 366px;
    width: 553px;
  }   
}

@media screen and (min-width: 1124px) {

  #homePageImage2lt570 {
    display: none;
  }

  #homePageImage2gt570 {
    display: block;
  }

  .position3 {
    position: absolute;
    top: 460px; 
    width: 553px;
  }

  .dimension1 {
    width: 274px;
    height: 48px;
  }

  .dimension2 {
    width: 182px;
    height: 48px;
  }

  .dimension3 {
    width: 96px;
    height: 48px;
  } 
  
  .position6 {
    position: absolute;
    top: 93px; 
    left: 386px;
    width: 553px;
  }  
}

.position4 {
  position: absolute; 
  width: 82px; 
  height: 27px;
}

.position5 {
  position: absolute;
  top: 26px;
}

.position5-3 {
  position: absolute;
  top: 101px;
  left: 89px;
}

#homePageImage2lt570 .position6 {
  position: absolute;
  top: 200px; 
  left: 140px;
  width: 553px;
}

/***   .homePageImage2 END   ****/

/***   .lost BEGIN   ****/

@media screen and (max-width: 480px) {

  .position8 {
    position:absolute;
    top:448px;
    width: calc(100vw - 52px);
  }
}

@media screen and (min-width: 480px) {

  .position8 {
    position:absolute;
    top:448px;
    width:415px;
  }
}

.lost {
  grid-area: lost;
  position: relative;
  height: 969px; 
}

.position7 {
  position:absolute;
  top:322px;
}

.position9 {
  position:absolute;
  top:639px;
  width:128px;
  height:40px;
}

.position10 {
  position:absolute;
  width:193.5px;
  height: 8px;
  top: 909px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.positionRelativeArrow11 {
  position:relative;
  left: 9px;
  top: -1px;
}

.positionRelativeArrow-11 {
  position:relative;
  left: -9px;
  top: -1px;
}

/***   .lost END   ****/

/***   .homePageImage3 BEGIN   ****/

.homePageImage3 {
  grid-area: homePageImage3;
  background-image: url("../../assets/images/homePageImage3.png");
  background-color: black;
  background-repeat: no-repeat;
  background-position: 50% 0%;
  width: 100%;
  height: 969px;  
}

/***   .homePageImage3 END   ****/

/***   .howItWorks BEGIN   ****/

@media screen and (max-width: 480px) {

  #howItWorksgt480 {
    display: none;
  }

  #howItWorkslt480 {
    display: block;
    font-size: 13.33vw !important;
  }  
}

@media screen and (min-width: 480px) {

  #howItWorksgt480 {
    display: block;
  }

  #howItWorkslt480 {
    display: none;
  }  
}

.howItWorks {
  grid-area: howItWorks;
  position: relative;
  height: 266px;
  position: relative;
}

/***   .howItWorks BEGIN   ****/

/***   .homePageImage4 BEGIN   ****/

.dimension5 {
  width: 165px; 
  height: 40px;
}

input[type=range]::-webkit-slider-thumb {
    background: #00000061;
}

input[type=range]::-moz-range-thumb {
    background: #00000061;
}

input[type=range]::-ms-thumb {
    background: #00000061;
}

.range-wrap {
  position: relative;
  margin: 0 auto 3rem;
}

.range {
  width: 100%;
}

.bubble {
  background: red;
  color: white;
  padding: 0px 9px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translate(-50%,93%);
}

.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: red;
  top: -1px;
  left: 50%;
}

.position11-1 {
  position: relative;
  top: -40px;
}

/***   .homePageImage4 END   ****/

/***   .homePageImage4 et .homePageImage5 BEGIN   ****/

@media screen and (max-width: 480px) {
  #slider1-1opt {
    display: none;
  }

  #slider1-2opt {
    display: block;
  }  
  
  .homePageImage4 {
    grid-area: homePageImage4;
    background-image: url("../../assets/images/homePageImage4.png");
    background-repeat: no-repeat;
    background-position: 50% -130px;
    margin-bottom: 37px;
    width: calc(100% - 20px);
    height: 656px;
    position: relative;
    border: 1px solid black;
  }

  .homePageImage5 {
    grid-area: homePageImage5;
    background-image: url("../../assets/images/homePageImage5.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 690px;
    margin-bottom: 37px;
    position: relative;
    border: 1px solid black;
  }

  #homePageCard1.card1 {
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
    height: calc(442px + (184px - (100vw - 20px) * (184 / 649))); 
    width: 100%;
    top: 184px;
  }

  .card1 {
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
    height: 472px; 
    width: 100%; 
    top: 184px; 
  }

  .position11 {
    width: 85%;
    position: absolute; 
    margin: 42px 7.5% auto 7.5%;
  }

  .position12 {
    position: relative;
    width: 100%;
    top: -14px;
  }   
  
  .position15 {
    position: absolute;
    top: 270px; 
    left: 12px;
    width: 100%;
    padding-left: 16px;
  }

  .position17 {
    position: absolute;
    top: 450px; 
    width: 100%;
  }

  .dimension4 {
    width: 46.95%;
    height: 40px;
  }

  .dimension4-1 {
    width: 100%;
    height: 40px;
  } 

  #homePageDetails16 {
    display: none;
  }

  #homePageDetails12 {
    display: block;
  }
}  

@media screen and (min-width: 480px)  and (max-width: 690px) {

  #slider1-1opt {
    display: inline;
  }
  #slider1-2opt {
    display: none;
  }  
  .homePageImage4 {
    grid-area: homePageImage4;
    background-image: url("../../assets/images/homePageImage4.png");
    background-repeat: no-repeat;
    background-position: 50% -130px;
    background-size: 100%;
    margin-bottom: 37px;
    width: calc(100% - 20px);
    height: 626px;
    position: relative;
    border: 1px solid black;
  }

  .homePageImage5 {
    grid-area: homePageImage5;
    background-image: url("../../assets/images/homePageImage5.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: calc(100% - 20px);
    height: 626px;
    margin-bottom: 37px;
    position: relative;
    border: 1px solid black;
  }

  .card1 {
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
    height: 442px; 
    width: 100%;
    top: 184px;
  }

  #homePageCard1.card1 {
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
    height: calc(442px + (184px - (100vw - 20px) * (184 / 649))); 
    width: 100%;
    top: calc(184px - (184px - (100vw - 20px) * (184 / 649)));
  }

  .position11 {
    width: 85%;
    position: absolute; 
    margin: 42px 7.5% auto 7.5%;
  }

  .position12 {
    position: relative;
    width: 100%;
    top: 20px;
  } 
  
  .position15 {
    position: absolute;
    top: 216px; 
    left: 12px;
    width: 100%;
    padding-left: 16px;
  }

  .position17 {
    position: absolute;
    top: 395px; 
    width: 100%;
  }  

  .dimension4 {
    width: 46.95%;
    /*width: 260px;*/
    height: 40px;
  }

  #homePageDetails16 {
    display: block;
  }

  #homePageDetails12 {
    display: none;
  }  
}  

@media screen and (min-width: 690px) and (max-width: 1006px) {
  #slider1-1opt {
    display: inline;
  }
  #slider1-2opt {
    display: none;
  }    
  .homePageImage4 {
    grid-area: homePageImage4;
    background-image: url("../../assets/images/homePageImage4.png");
    background-repeat: no-repeat;
    background-position: 50% -130px;
    margin-bottom: 37px;
    width: 655px;
    height: 626px;
    position: relative;
    border: 1px solid black;
  }

  .homePageImage5 {
    grid-area: homePageImage5;
    background-image: url("../../assets/images/homePageImage5.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    width: 655px;
    height: 626px;
    margin-bottom: 37px;
    position: relative;
    border: 1px solid black;
  }

  .card1 {
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
    height: 442px; 
    width: 655px; 
    top: 184px; 
  }

  .position11 {
    width: 85%;
    position: absolute; 
    margin: 42px 7.5% auto 7.5%;
  }

  .position12 {
    position: absolute;
    width: 100%;
    top: 330px;
  }
  
  .position15 {
    position: absolute;
    top: 216px; 
    left: 12px;
    width: 100%;
    padding-left: 16px;
  }

  .position17 {
    position: absolute;
    top: 395px; 
    width: 100%;
  }  

  .dimension4 {
    width: 46.95%;
    height: 40px;
  }

  #homePageDetails16 {
    display: block;
  }

  #homePageDetails12 {
    display: none;
  }
}  

@media screen and (min-width: 1006px) and (max-width: 1290px) {

  #slider1-1opt {
    display: inline;
  } 
  #slider1-2opt {
    display: none;
  }   
  .homePageImage4 {
    grid-area: homePageImage4;
    background-image: url("../../assets/images/homePageImage4.png");
    background-repeat: no-repeat;
    background-position: 0px -130px;
    background-clip: content-box;
    padding: 0 10px 0 10px;
    margin-bottom: 37px;
    background-size: calc(100% - 10px);
    width: calc(100% - 10px);
    height: 626px;
    position: relative;
    border: 1px solid black;
  }

  .homePageImage5 {
    grid-area: homePageImage5;
    background-image: url("../../assets/images/homePageImage5.png");
    background-repeat: no-repeat;
    background-size: calc(100% - 10px);
    background-clip: content-box;
    width: calc(100% - 10px);
    height: 626px;
    padding: 0 10px 0 10px;
    margin-bottom: 37px;
    position: relative;
    border: 1px solid black;
  }

  .card1 {
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
    height: 442px; 
    width: calc(100% - 20px); 
    top: 184px; 
  }

  .position11 {
    width: calc(100% - 96px);
    position: absolute; 
    margin: 42px 48px auto 48px;
  }

  .position12 {
    position: absolute;
    width: 100%;
    top: 330px;
  } 
  
  .position15 {
    position: absolute;
    top: 216px; 
    left: 12px;
    width: 100%;
    padding-left: 16px;
  }

  .position17 {
    position: absolute;
    top: 395px; 
    width: 100%;
  }  

  .dimension4 {
    width: 43.6%;
    height: 40px;
  }

  #homePageDetails16 {
    display: block;
  }

  #homePageDetails12 {
    display: none;
  }
}

@media screen and (min-width: 1290px) {

  #slider1-1opt {
    display: inline;
  } 
  #slider1-2opt {
    display: none;
  }   
  .homePageImage4 {
    grid-area: homePageImage4;
    background-image: url("../../assets/images/homePageImage4.png");
    background-repeat: no-repeat;
    background-position: 0px -130px;
    margin-bottom: 37px;
    width: 639px;
    height: 626px;
    position: relative;
    border: 1px solid black;
  }

  .homePageImage5 {
    grid-area: homePageImage5;
    background-image: url("../../assets/images/homePageImage5.png");
    background-repeat: no-repeat;
    width: 639px;
    height: 626px;
    margin-bottom: 37px;
    position: relative;
    border: 1px solid black;
  }

  .card1 {
    box-shadow: 0px 3px 6px #00000029;
    position: absolute;
    height: 442px; 
    width: 639px; 
    top: 184px; 
  }

  .position11 {
    width: calc(100% - 96px);
    position: absolute; 
    margin: 42px 48px auto 48px;
  }

  .position12 {
    position: absolute;
    width: 100%;
    top: 330px;
  } 
  
  .position15 {
    position: absolute;
    top: 216px; 
    left: 12px;
    width: 100%;
    padding-left: 16px;
  }

  .position17 {
    position: absolute;
    top: 395px; 
    width: 100%;
  }  

  .dimension4 {
    width: 255px;
    height: 40px;
  }

  #homePageDetails16 {
    display: block;
  }

  #homePageDetails12 {
    display: none;
  }
}

/***   .homePageImage4 et .homePageImage5 END   ****/


/***   .homePageImage5 BEGIN   ****/

.position13 {
  width: calc(100% - 56px);
  position: absolute; 
  margin: 24px 28px auto 28px;
}

.position14 {
  position: absolute;
  top: 80px;
  margin-bottom: 10px;
}

.position16 {
  position: absolute; 
  left: 416px;
}

ol > li:not(:last-child) { 
  margin-bottom: 26px; 
} 


/***   .homePageImage5 END   ****/

/***   .footer BEGIN   ****/

.footer {
  grid-area: footer;
  height: 191px;
  background-color: black;
  width: 100%;
}

/***   .footer END   ****/


