<div class="firstPage width100percent">
  <div class="homePageImage1">
    <div id="findyourhomelt480" class="position2 horizontal-center textAlignCenter lineHeight82 pinyonscriptregular73dieseFFFFFF">
      Find Your
      <br>
      Home
    </div>
    <div id="findyourhomegt480" class="position2 horizontal-center textAlignCenter lineHeight117 pinyonscriptregular120dieseFFFFFF">
      Find Your
      <br>
      Home
    </div>
  </div>
  <div class="homePageImage2">
    <div id="homePageImage2gt570">
      <div class="position3 horizontal-center"  [formGroup]="searchFormGroup">
        <div class="position4 border2 textAlignCenter backgroundwhite poppinsextrabold14diese372300">
          Search
        </div>
        <span class="position5 width100percent" >
          <input class="floatLeft dimension1 border3 poppinsregular16diese372300 opacity03" type="text" placeholder="Dans quelle ville ? Quartier ?" formControlName="ville">
          <input class="floatLeft dimension2 border4 poppinsregular16diese372300 opacity03" type="text" placeholder="Votre budget max" formControlName="prixMax">
          <div (click)="search()" class="floatLeft dimension3 textAlignCenter lineHeight48 backgroundPrimary poppinsbold12diese372300">SEARCH</div>
        </span>
        <div  class="position6">
          <a href="javascript:" class="poppinsregular14dieseFFFFFF textdecorationunderline">Advanced search</a>
        </div>
      </div>
    </div>
    <div id="homePageImage2lt570">
      <div id="homePageImage2Form" class="position3 horizontal-center">
        <div class=" "  [formGroup]="searchFormGroup">
          <div class="position4 border2 textAlignCenter backgroundwhite poppinsextrabold14diese372300">
            Search
          </div>
          <div class="position5" >
            <p><input  class="floatLeft dimension1 poppinsregular16diese372300" type="text" placeholder="Dans quelle ville ? Quartier ?" formControlName="ville"></p>
            <p><input  class="floatLeft dimension2 poppinsregular16diese372300" type="text" placeholder="Votre budget max" formControlName="prixMax"></p>
            <div class="position5-3 floatLeft dimension3 textAlignCenter lineHeight48 backgroundPrimary poppinsbold12diese372300">SEARCH</div>
          </div>
        </div>
        <div  class="position6">
          <a href="javascript:" class="poppinsregular14dieseFFFFFF textdecorationunderline">Advanced search</a>
        </div>
      </div>
    </div>
  </div>
  <div class="lost backgroundLost">
    <div class="pinyonscript64diese372300 horizontal-center position7">Lost</div>
    <div class="poppinsregular14diese372300 position8 horizontal-center textAlignCenter">Vivamus condimentum venenatis ligula quis auctor. Vestibulum augue risus, gravida sit amet varius a, sollicitudin in neque. Suspendisse vulputate tempor est nec facilisis. Mauris sed tempor nisl. Phasellus quis congue lorem. Donec quis aliquet eros. Aliquam posuere elit maximus, egestas erat et, mattis nisl.</div>
    <div class="poppinsbold12diese372300 backgroundPrimary horizontal-center position9 textAlignCenter lineHeight40">LEARN MORE</div>
    <div class="horizontal-center position10 textAlignCenter">
      <div class="displayInlineBlock floatLeft">
        <span class="arrow left positionRelativeArrow11"></span>
        <svg height="5" width="19">
          <line x1="0" y1="0" x2="19" y2="0" style="stroke:rgb(0,0,0);stroke-width:4" />
        </svg>
      </div>
      <div class="displayInlineBlock">
        <svg width="16" height="8">
          <circle cx="4" cy="4" r="4" fill="#FFFFFF"/>
        </svg>
        <svg  width="16" height="8">
          <circle cx="4" cy="4" r="4" fill="#ECB605"/>
        </svg>
        <svg width="16" height="8">
          <circle cx="4" cy="4" r="4" fill="#FFFFFF"/>
        </svg>
        <svg width="16" height="8">
          <circle cx="4" cy="4" r="4" fill="#FFFFFF"/>
        </svg>
      </div>
      <div class="displayInlineBlock floatRight">
        <svg height="5" width="19">
          <line x1="0" y1="0" x2="19" y2="0" style="stroke:rgb(0,0,0);stroke-width:4" />
        </svg>
        <span class="arrow right positionRelativeArrow-11"></span>
      </div>
    </div>
  </div>
   <div class="homePageImage3">
  </div>
  <div class="howItWorks ">
    <div id="howItWorksgt480" class="pinyonscript64diese372300 positionabsolute horizontal-vertical-center whitespacenowrap">
    How it works ?
    </div>
    <div id="howItWorkslt480" class="pinyonscript64diese372300 positionabsolute horizontal-vertical-center whitespacenowrap">
    How it works ?
    </div>
  </div>
  <div class="homePageImage4">
    <div class="card1 backgrounddieseF1F1F1">
      <form class="position11" [formGroup]="investmentFormGroup">
        <div class="marginBottom34">
          <label>
            <input type="radio" value="LiveIn" formControlName="liveRentChoice">
              <span class="poppinsregular14diese372300 paddingLeft12">To live in</span>
          </label>
          <label class="paddingLeft50">
            <input type="radio" value="Invest" formControlName="liveRentChoice">
              <span class="poppinsregular14diese372300 paddingLeft12">To invest</span>
          </label>
        </div>
        <div class="height40 marginBottom30">
          <span class="width100percent poppinsregular14diese00000061">
            <input class="floatLeft dimension4" type="text" placeholder="Monthly net income" formControlName="monthlyNetIncome">
          </span>
          <span class="width100percent poppinsregular14diese00000061">
            <input class="floatRight dimension4"  type="text" placeholder="Other credits in progress" formControlName="creditInProgress">
          </span>
        </div>
        <div class="height40 marginBottom44">
          <span class="width100percent poppinsregular14diese00000061">
            <select class="floatLeft dimension4 browser-default custom-select custom-select-lg mb-3" style="font-size: 14px;"  placeholder="By myself" formControlName="byWho">
              <optgroup class="poppinsregular14diese00000061">
                    <option value="" disabled selected >By myself</option>
              <option *ngFor="let city of ['Paris','Lille']" [ngValue]="city"></option>
              </optgroup>
            </select>
          </span>
		    </div>
        <div class="marginBottom14 poppinsregular14diese00000061">
          Estimated monthly payments
        </div>
        <div  class=" poppinsregular14diese00000061">
          <div class="marginBottom13 height40">
          <span id="slider1-1opt" class="width100percent poppinsregular14diese00000061">
            <div class="floatLeft dimension4  d-flex justify-content-left">
              <span class="font-weight-bold black-text mr-2 mt-1 whitespacenowrap">€ 200</span>
              <div class="range-field">
                <div class="marginBottom0 range-wrap">
                  <input id="ext1" class="range border-0" type="range" min="200" max="2000" value="800"/>
                  <output class="bubble"></output>
                </div>
              </div>
              <span class="font-weight-bold black-text ml-2 mt-1 whitespacenowrap">€ 2000</span>
            </div>
            <div class="floatRight dimension4  d-flex justify-content-left ">
              <span class="font-weight-bold black-text mr-2 mt-1">0</span>
              <div class="flexGrow1 marginBottom0 range-field">
                <div class="range-wrap">
                  <input class="range border-0" type="range" min="0" max="25" value="20"/>
                  <output class="bubble"></output>
                </div>
              </div>
              <span class="font-weight-bold black-text ml-2 mt-1 whitespacenowrap">25 years</span>
            </div>
          </span>
          </div>
          <div id="slider1-2opt" class="position11-1 width100percent poppinsregular14diese00000061">
            <div class="dimension4-1 marginBottom10 d-flex justify-content-left">
              <span class="font-weight-bold black-text mr-2 mt-1 whitespacenowrap">€ 200</span>
              <div class="flexGrow1 range-field">
                <div class="marginBottom0 range-wrap">
                  <input id="ext1" class="range border-0" type="range" min="200" max="2000" value="800"/>
                  <output class="bubble"></output>
                </div>
              </div>
              <span class="font-weight-bold black-text ml-2 mt-1 whitespacenowrap">€ 2000</span>
            </div>
            <div class="dimension4-1 d-flex justify-content-left ">
              <span class="font-weight-bold black-text mr-2 mt-1">0</span>
              <div class="flexGrow1 range-field">
                <div class="range-wrap">
                  <input class="range border-0" type="range" min="0" max="25" value="20"/>
                  <output class="bubble"></output>
                </div>
              </div>
              <span class="font-weight-bold black-text ml-2 mt-1 whitespacenowrap">25 years</span>
            </div>
          </div>
        </div>
        <div class="position12">
          <button class="cursorpointer floatRight dimension5 poppinsbold12diese372300 backgroundPrimary">SEE HOW IT WORKS</button>
        </div>
      </form>
    </div>
  </div>
  <div id="homePageImage5" class="homePageImage5">
    <div id="homePageCard1" class="card1">
      <div class="position13">
						<div>
							<span class="poppinsregular12diese171717DE whitespacenowrap opacity05">{{annonce?.type}} &#8226; New</span>
						</div>
						<div id="homePageDetails16">
							<span class="poppinsextrabold16diese171717DE whitespacenowrap" >{{annonce?.nbrPiece}} rooms &#47; {{annonce?.nbrChambre}} bedrooms &#47; {{annonce?.surfaceHabitable}} m<sup>2</sup></span>
							<span class="floatRight poppinsextrabold16diese171717DE whitespacenowrap">{{annonce?.prix | currency:'EUR':'symbol':'1.0-0':'fr'}}</span>
            </div>
						<div id="homePageDetails12" class="height18">
							<span class="poppinsextrabold12diese171717DE floatLeft whitespacenowrap" >{{annonce?.nbrPiece}} rooms &#47; {{annonce?.nbrChambre}} bedrooms &#47; {{annonce?.surfaceHabitable}} m<sup>2</sup></span>
							<span class="poppinsextrabold12diese171717DE floatRight whitespacenowrap">{{annonce?.prix | currency:'EUR':'symbol':'1.0-0':'fr'}}</span>
						</div>
						<div>
							<span class="floatLeft poppinsregular12diese171717DE whitespacenowrap opacity05">{{annonce?.adresse}} &#47; {{annonce?.ville}} &#47; {{annonce?.codePostal}}</span>
							<span class="floatRight poppinsbold12dieseECB605 whitespacenowrap">or {{1990 | currency:'EUR':'symbol':'1.0-0':'fr'}} &#47;month</span>
            </div>
            <div class="position14 poppinsregular12diese171717DE">
              <p>{{annonce?.description}}</p>
            </div>
            <ol class="position15">
              <li class="backgrounddieseF8F8F8"><span class="floatLeft poppinsblack14diese171717DE">Pinel (12 years)</span><span class="floatRight poppinsbold14diese000000 whitespacenowrap">{{1136 | currency:'EUR':'symbol':'1.0-0':'fr'}} &#47;month</span></li>
              <li class="backgrounddieseF8F8F8"><span class="floatLeft poppinsregular14diese171717DE" >Historical Monuments</span><span class="floatRight poppinsregular14diese000000 whitespacenowrap">{{1206 | currency:'EUR':'symbol':'1.0-0':'fr'}} &#47;month</span></li>
              <li class="backgrounddieseF8F8F8"><span class="floatLeft poppinsregular14diese171717DE">Pinel 9 years</span><span class="floatRight poppinsregular14diese000000 whitespacenowrap">{{1566 | currency:'EUR':'symbol':'1.0-0':'fr'}} &#47;month</span></li>
              <li class="backgrounddieseF8F8F8"><span class="floatLeft poppinsregular14diese171717DE">Dismemberment</span><span class="floatRight poppinsregular14diese000000 whitespacenowrap">{{1776 | currency:'EUR':'symbol':'1.0-0':'fr'}} &#47;month</span></li>
            </ol>
						<div class="position17">
							<span class="floatRight poppinsbold12dieseECB605">learn more about current property tax law</span>
						</div>
      </div>
    </div>
  </div>
  <div class="footer">
  </div>
</div>
