.card-cadre {
  background: #F8F8F8 0% 0% no-repeat padding-box;
  opacity: 1;
}

.text-titre {
  font: bold 14px/25px Poppins;
  letter-spacing: 0.8px;
  color: #171717DE;
}

.text-card-14 {
  font: 12px/21px Poppins ;
  letter-spacing: 0.7px;
  color: #000000;
  opacity: 1;
}

.dot_gold {
  height: 12px;
  width: 12px;
  background-color: #ECB608;
  border-radius: 50%;
  display: inline-block;
}

.dot_grey {
  height: 12px;
  width: 12px;
  background-color: #BCBCBC;
  border-radius: 50%;
  display: inline-block;
}

.dot_black{
  height: 12px;
  width: 12px;
  background-color: #212121;
  border-radius: 50%;
  display: inline-block;
}

.dot_pink {
  height: 12px;
  width: 12px;
  background-color: #3F729B;
  border-radius: 50%;
  display: inline-block;
}
